USE [master]
GO
/****** Object:  Database [gravity_dwh]    Script Date: 4/22/2026 8:32:43 PM ******/
CREATE DATABASE [gravity_dwh]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'gravity_dwh', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER01\MSSQL\DATA\gravity_dwh.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'gravity_dwh_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER01\MSSQL\DATA\gravity_dwh_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [gravity_dwh].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [gravity_dwh]
GO
/****** Object:  User [NT Service\MSSQLServerOLAPService]    Script Date: 4/22/2026 8:32:43 PM ******/
CREATE USER [NT Service\MSSQLServerOLAPService] FOR LOGIN [NT Service\MSSQLServerOLAPService] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [NT SERVICE\MSOLAP$MSSQLSERVER01]    Script Date: 4/22/2026 8:32:43 PM ******/
CREATE USER [NT SERVICE\MSOLAP$MSSQLSERVER01] FOR LOGIN [NT SERVICE\MSOLAP$MSSQLSERVER01] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [NT Service\MSSQLServerOLAPService]
GO
ALTER ROLE [db_datareader] ADD MEMBER [NT SERVICE\MSOLAP$MSSQLSERVER01]
GO
/****** Object:  Table [dbo].[Bridge_BookAuthor]    Script Date: 4/22/2026 8:32:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bridge_BookAuthor](
	[book_sk] [int] NOT NULL,
	[author_sk] [int] NOT NULL,
	[author_weighting_factor] [decimal](5, 4) NULL,
 CONSTRAINT [pk_bridge_book_author] PRIMARY KEY CLUSTERED 
(
	[book_sk] ASC,
	[author_sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Author]    Script Date: 4/22/2026 8:32:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Author](
	[author_sk] [int] IDENTITY(0,1) NOT NULL,
	[author_id] [int] NULL,
	[author_name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[author_sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Book]    Script Date: 4/22/2026 8:32:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Book](
	[book_sk] [int] IDENTITY(0,1) NOT NULL,
	[book_id] [int] NULL,
	[title] [nvarchar](500) NULL,
	[isbn13] [nvarchar](20) NULL,
	[num_pages] [int] NULL,
	[publication_date] [date] NULL,
	[publisher_name] [nvarchar](400) NULL,
	[language_name] [nvarchar](100) NULL,
	[language_code] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[book_sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Customer]    Script Date: 4/22/2026 8:32:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Customer](
	[customer_sk] [int] IDENTITY(0,1) NOT NULL,
	[customer_id] [int] NULL,
	[first_name] [varchar](200) NULL,
	[last_name] [varchar](200) NULL,
	[email] [varchar](350) NULL,
	[full_name] [nvarchar](max) NULL,
	[street_number] [varchar](10) NULL,
	[street_name] [varchar](200) NULL,
	[city] [varchar](100) NULL,
	[country_name] [varchar](200) NULL,
	[start_date] [datetime] NULL,
	[end_date] [datetime] NULL,
	[is_current] [bit] NULL,
	[address_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Date]    Script Date: 4/22/2026 8:32:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Date](
	[date_sk] [int] NOT NULL,
	[full_date] [date] NOT NULL,
	[day_of_month] [tinyint] NOT NULL,
	[day_of_week] [tinyint] NOT NULL,
	[day_name] [varchar](10) NOT NULL,
	[day_of_year] [smallint] NOT NULL,
	[week_of_year] [tinyint] NOT NULL,
	[month_number] [tinyint] NOT NULL,
	[month_name] [varchar](10) NOT NULL,
	[quarter_no] [tinyint] NOT NULL,
	[quarter_name] [varchar](2) NOT NULL,
	[year_no] [smallint] NOT NULL,
	[is_weekend] [bit] NOT NULL,
	[is_leap_year] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[date_sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_OrderStatus]    Script Date: 4/22/2026 8:32:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_OrderStatus](
	[status_sk] [int] IDENTITY(0,1) NOT NULL,
	[status_id] [int] NULL,
	[status_value] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[status_sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Shipping]    Script Date: 4/22/2026 8:32:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Shipping](
	[shipping_sk] [int] IDENTITY(0,1) NOT NULL,
	[method_id] [int] NULL,
	[method_name] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[shipping_sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fact_OrderLine]    Script Date: 4/22/2026 8:32:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fact_OrderLine](
	[orderline_sk] [int] IDENTITY(1,1) NOT NULL,
	[date_sk] [int] NOT NULL,
	[book_sk] [int] NOT NULL,
	[customer_sk] [int] NOT NULL,
	[shipping_sk] [int] NOT NULL,
	[status_sk] [int] NOT NULL,
	[order_id] [int] NOT NULL,
	[line_id] [int] NOT NULL,
	[price] [decimal](10, 2) NULL,
	[shipping_cost] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[orderline_sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bridge_BookAuthor]  WITH CHECK ADD  CONSTRAINT [FK_Bridge_BookAuthor_Dim_Book] FOREIGN KEY([book_sk])
REFERENCES [dbo].[Dim_Book] ([book_sk])
GO
ALTER TABLE [dbo].[Bridge_BookAuthor] CHECK CONSTRAINT [FK_Bridge_BookAuthor_Dim_Book]
GO
ALTER TABLE [dbo].[Fact_OrderLine]  WITH CHECK ADD  CONSTRAINT [fk_fact_book] FOREIGN KEY([book_sk])
REFERENCES [dbo].[Dim_Book] ([book_sk])
GO
ALTER TABLE [dbo].[Fact_OrderLine] CHECK CONSTRAINT [fk_fact_book]
GO
ALTER TABLE [dbo].[Fact_OrderLine]  WITH CHECK ADD  CONSTRAINT [fk_fact_customer] FOREIGN KEY([customer_sk])
REFERENCES [dbo].[Dim_Customer] ([customer_sk])
GO
ALTER TABLE [dbo].[Fact_OrderLine] CHECK CONSTRAINT [fk_fact_customer]
GO
ALTER TABLE [dbo].[Fact_OrderLine]  WITH CHECK ADD  CONSTRAINT [fk_fact_date] FOREIGN KEY([date_sk])
REFERENCES [dbo].[Dim_Date] ([date_sk])
GO
ALTER TABLE [dbo].[Fact_OrderLine] CHECK CONSTRAINT [fk_fact_date]
GO
ALTER TABLE [dbo].[Fact_OrderLine]  WITH CHECK ADD  CONSTRAINT [fk_fact_shipping] FOREIGN KEY([shipping_sk])
REFERENCES [dbo].[Dim_Shipping] ([shipping_sk])
GO
ALTER TABLE [dbo].[Fact_OrderLine] CHECK CONSTRAINT [fk_fact_shipping]
GO
ALTER TABLE [dbo].[Fact_OrderLine]  WITH CHECK ADD  CONSTRAINT [fk_fact_status] FOREIGN KEY([status_sk])
REFERENCES [dbo].[Dim_OrderStatus] ([status_sk])
GO
ALTER TABLE [dbo].[Fact_OrderLine] CHECK CONSTRAINT [fk_fact_status]
GO
USE [master]
GO
